/* Styling for the group sidebar */
#group-sidebar {
  width: 15%;
  background-color: #2c2f33;
  border-right: 1px solid #444;
}

/* Styling for the channel sidebar */
#channel-sidebar {
  width: 20%;
  background-color: #23272a;
  border-right: 1px solid #444;
}

/* Styling for the chat area */
#chat-area {
  width: 65%;
}

/* Additional message styling */
.message {
  margin-bottom: 10px;
}

/* Input and Send Button Styling */
#chat-input input {
  border: none;
  padding: 10px 15px;
}

#chat-input .input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

#chat-input .form-control:focus {
  box-shadow: none;
}

#chat-input .btn-primary {
  padding: 10px 20px;
  border: none;
}

/* Hover and Active State Styling */
.nav-link {
  transition: background-color 0.3s, color 0.3s;
}

.nav-link.active,
.nav-link:hover {
  background-color: rgba(72, 79, 87, 1);
  color: #fff;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: rgba(72, 79, 87, 0.6);
}

/* Custom context menu styling */
.custom-context-menu {
  position: absolute;
  z-index: 1000;
  background-color: #2c2f33;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: none;
}

.custom-context-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-context-menu ul li {
  padding: 10px 20px;
  color: red;
  cursor: pointer;
}

.custom-context-menu ul li:hover {
  background-color: red;
  color: #ffffff;
}
