/* Button */
.btn {
  cursor: pointer;
}

.btn-success {
  padding: 8px 16px;
  border-radius: 20px;
}

/* Buttons */
.btn-sm {
  padding: 4px 8px;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* New Group Input Field Styling */
input.form-control.bg-transparent.text-white {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.15rem;
  font-weight: 500;
  color: #ffffff;
  line-height: normal;
  height: normal;
  opacity: 0.8;
}

/* Placeholder Styling */
input.form-control::placeholder {
  color: #adb5bd;
  opacity: 0.4;
}

input.form-control.bg-transparent.text-white.editable {
  opacity: 1; /* Full opacity when editing */
}
