/* Button */
.btn,
.nav-btn {
  cursor: pointer;
}

.btn-success {
  padding: 8px 16px;
  border-radius: 20px;
}

/* Sub Tab Navigation for Group Management */
.nav-tabs-sub {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}

.nav-tabs-sub .nav-link {
  color: #495057;
  border-radius: 0.25rem;
  background-color: transparent;
  margin-right: 2px;
  padding: 4px 8px;
  font-size: 0.875rem;
  border: 1px solid #6c757d;
  transition: background-color 0.3s, color 0.3s;
}

.nav-tabs-sub .nav-link.active {
  background-color: #343a40;
  color: #fff;
  border-color: #495057;
}

/* Group Management Section */
#group-management-section {
  margin-top: 0.5rem;
}

/* Buttons */
.btn-sm {
  padding: 4px 8px;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* New Group Input Field Styling */
input.form-control.bg-transparent.text-white {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.15rem;
  font-weight: 500;
  color: #ffffff;
  line-height: normal;
  height: normal;
}
/* Placeholder Styling */
input.form-control::placeholder {
  color: #adb5bd;
  opacity: 0.8;
}
